<p>
	Bonjour 
	<span style="color: rgb(100, 120, 180);">
		${discordTag}
	</span>
	(
	<span style="color: rgb(80, 160, 100);">
		${id}
	</span>
	),
</p>

<br>

<p>
	Renvoyez au bot un message privé <b>dans Discord</b> contenant uniquement le code suivant :
</p>

<br>
<br>

<font size="6">
	<b>
		<span style="color: rgb(255, 80, 100);">
			${code}
		</span>
	</b>
</font>